button {
    background: #212121;
    border: 1px solid #212121;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

button:hover {
    background: #424242;
}